.db{
    background-color: blueviolet;
    border: 1px solid white;
    height: 50px;
}

/* HEADER */
header{
    background-color: rgba(44, 62, 80, 1);
}

.navbar{
    height: 100px;
    color: white;
}

.background{
    height: 500px;
    background-color: rgba(26, 188, 156, 1);
}

.img{
    margin-top: 10rem;
}
/* /HEADER */

/* MAIN */
.portfolio{
    padding-top: 50px;
    padding-bottom: 50px;
}

.about{
    height: 300px;
    background-color: rgba(26, 188, 156, 1);
    padding-top: 50px;
    padding-bottom: 50px;
}