body{
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header{
    background-color: rgba(44, 62, 80, 1);
}

/* NAVBAR */
#navbarTogglerDemo02{
    padding-top: 15px;
    padding-bottom: 15px;
}

.title a{
    font-size: 22px;
    font-weight: 600;
    
}

.subtitle a{
    font-size: 13px;
    font-weight: 600;
}

#navbarTogglerDemo02 i{
    display: none;
    color: rgba(136, 136, 136, 1);
    font-size: 18px;
    padding: 5px 12px 5px 12px;
    border: 1px solid rgba(187, 191, 194, 1);
    border-radius: 5px;
    margin-top: 10px;
}

@media screen and (max-width:767px){
    .my-2 ul li{
        display: none;
    }

    #navbarTogglerDemo02 i{
        display: block;
    }
}
/* /NAVBAR */

/* JUMBOTRON */
.background{
    background-color: rgba(26, 188, 156, 1);
    padding-top: 35px;
    padding-bottom: 35px;
}

.background img{
    height: 150px;  
    margin-bottom: 10px; 
}

.background h1{
    font-weight: 600;
}

.star{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.star i{
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.star::before{
    content: "";
    width: 10%;
    height: 3px;
    background-color: white;
    margin-top: 10px;
}

.star::after{
    content: "";
    width: 10%;
    height: 3px;
    background-color: white;
    margin-top: 10px;
}

@media screen and (max-width:767px){
    .background img{
        height: 300px;
    }
    .background h1{
        font-size: 40px;
        margin-top: 20px;
    }
    .background h6{
        font-size: 19px;
    }
    .background .star::before{
        width: 20%;
    }
    .background .star::after{
        width: 20%;
    }
    .star i{
        font-size: 25px;
    }
}
/* /JUMBOTRON */
/* /HEADER */

/* MAIN */
/* PORTFOLIO */
.portfolio{
    width: 100%;
    padding-top: 45px;
    padding-bottom: 40px;
}

.portfolio h3{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 15px;
    color: rgba(51, 51, 51, 1);
}

.portfolio .star::before{
    background-color: rgba(44, 62, 80, 1);
}

.portfolio .star i{
    color: rgba(44, 62, 80, 1);
}

.portfolio .star::after{
    background-color: rgba(44, 62, 80, 1);
}

.portfolio img{
    height: 255px;
    border-radius: 10px;
    margin-bottom: 25px;
}

@media screen and (max-width:767px){
    .portfolio img{
        height: 370px;
    }
    .portfolio h3{
        margin-bottom: 30px;
    }
    .portfolio .star::before{
        width: 20%;
    }
    .portfolio .star::after{
        width: 20%;
    }
}

@media screen and (min-width:768px) 
and (max-width: 991px){
    .portfolio img{
        height: 240px;
    }  
}

@media screen and (min-width:992px)
and (max-width: 1199px){
    .portfolio img{
        height: 215px;
    }   
}
/* /PORTFOLIO */

/* ABOUT */
.about{
    background-color: rgba(26, 188, 156, 1);
    padding-top: 50px;
    padding-bottom: 50px;
}

.about h3{
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 15px;
}

.about p{
    font-size: 19px;
    margin-bottom: 30px;
}

@media screen and (max-width:767px){
    .about p{
        width: 70%;
        margin: auto;
        font-size: 23px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width:768px) 
and (max-width: 991px){
    .about p{
        font-size: 17px;
    }
}
/* /ABOUT */

/* CONTACT */
.contact{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
}

.contact h3{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 15px;
    color: rgba(51, 51, 51, 1);
}

.contact .star::before{
    background-color: rgba(44, 62, 80, 1);
}

.contact .star i{
    color: rgba(44, 62, 80, 1);
}

.contact .star::after{
    background-color: rgba(44, 62, 80, 1);
}

.contact .container .row:last-child{
    margin-top: 100px;
}

.form-group input, .form-group textarea{
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid rgba(204, 204, 204, 1);
    padding-left: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}

.form-group textarea{
    padding-bottom: 60px;
}

.contact button{
    background-color: rgba(26, 188, 156, 1);
    color: white;
    margin-top: 15px;
}
/* /CONTACT */
/* /MAIN */

/* FOOTER */
.top{
    background-color: rgba(58, 84, 109, 1);
    padding-top: 50px;
    padding-bottom: 30px;
}

.top h5{
    font-size: 20px;
}

.top span{
    font-size: 18px;
}

.top p{
    font-size: 19px;
}

.facebook i{
    padding: 8px 12px 8px 12px;
    margin-left: 5px;
}

.google i{
    padding: 8px 7px 8px 7px;
    margin-left: 5px;
}

.twitter i{
    padding: 8px 10px 8px 10px;
    margin-left: 5px;
}

.linkedin i{
    padding: 8px 11px 8px 11px;
    margin-left: 5px;
}

.top i{
    border: 1px solid white;
    border-radius: 50%;
}

.top p span:last-child{
    color: rgba(26, 188, 156, 1);
    font-size: 19px;
}

.bottom{
    background-color: rgba(44, 62, 80, 1);
    padding-top: 35px;
    padding-bottom: 35px;
}

.bottom span{
    font-size: 12px;
}

@media screen and (max-width:767px){
    .top .col-md-4{
        margin-bottom: 30px;
    }
}

@media screen and (min-width:768px) 
and (max-width: 991px){
    .top span{
        font-size: 13px;
    }

    .top p{
        font-size: 14px;
    }
}
/* /FOOTER */